* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --bg-primary: hsl(214, 18%, 15%);
  --bg-secondary: hsl(318, 49%, 38%);
  --bg-secondary-light: hsl(335, 54%, 57%);
  --clr-primary: hsl(0, 2%, 91%);
  --font-primary: "Fira Sans", sans-serif;
  --spacing-primary: 1rem;
  --radius-primary: 0.25rem;
  --transition-primary: 0.25s ease-in-out;
}

body {
  background-color: var(--bg-primary);
  color: var(--clr-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  font-family: var(--font-primary);
  padding: var(--spacing-primary);
}

.wraper {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-secondary);
  padding: var(--spacing-primary);
  border-radius: var(--radius-primary);
  width: min(23rem, calc(100vw - (2 * var(--spacing-primary))));
}

.title {
  text-align: center;
}

.password-display-wraper {
  margin: var(--spacing-primary) 0rem;
  padding: var(--spacing-primary);
  background-color: var(--clr-primary);
  color: var(--bg-primary);
  border-radius: var(--radius-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.password-display {
  all: unset;
  word-wrap: break-word;
  word-break: break-all;
  padding-right: var(--spacing-primary);
}

.password-generator-form {
  display: grid;
  gap: var(--spacing-primary);
  grid-template-columns: repeat(2, 1fr);
}

.generate-password-button,
.copy-password-button {
  all: unset;
  border: 2px solid transparent;
  text-align: center;
  padding: 0.25rem;
  border-radius: var(--radius-primary);
  cursor: pointer;
}

.copy-password-button {
  background-color: var(--bg-secondary);
  color: var(--clr-primary);
  transition: background-color var(--transition-primary),
    border-color var(--transition-primary);
  border: 2px solid transparent;
}

.copy-password-button:hover {
  background-color: var(--bg-secondary-light);
}

.copy-password-button:focus-visible {
  border-color: var(--bg-primary);
  background-color: var(--bg-secondary-light);
}

.generate-password-button {
  background-color: var(--clr-primary);
  color: var(--bg-primary);
  grid-column: span 2;
  transition: background-color var(--transition-primary),
    border-color var(--transition-primary);
  border: 2px solid transparent;
}

.generate-password-button:hover {
  background-color: white;
}

.generate-password-button:focus-visible {
  background-color: white;
  border-color: var(--bg-primary);
}

/* character-amount-wraper */
.character-amount-wraper {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: span 2;
}

.decrease-character-amount,
.character-amount-input,
.increase-character-amount {
  all: unset;
  background-color: var(--clr-primary);
  color: var(--bg-primary);
  text-align: center;
  padding: 0.5rem;
  border: 1px solid white;
}

.increase-character-amount,
.decrease-character-amount {
  cursor: pointer;
  transition: background-color var(--transition-primary),
    border-color var(--transition-primary);
}

.increase-character-amount:hover,
.decrease-character-amount:hover {
  background-color: white;
}

.increase-character-amount:focus-visible,
.character-amount-input:focus-visible,
.decrease-character-amount:focus-visible {
  border-color: var(--bg-primary);
}

.character-amount-input::-webkit-outer-spin-button,
.character-amount-input::-webkit-inner-spin-button {
  display: none;
}

.hidden {
  opacity: 0;
  z-index: -1;
  position: fixed;
  top: -100vh;
  left: -100vw;
}
